// Fonts
$font-family: "Source Sans Pro", sans-serif;
$logo-font: 'Poppins', sans-serif;


// Colours
$white: #fff;
$black: #000;
$orange: #D87E37;
$yellow: #E5AC52;
$peach: #F9EAD4;
$green-black: #3F4D42;
$brown-black: #33250D;
$unselected-gray: #BFBFBF;
$vibrant-orange: #E78030;
$dark-teal:#386569;
$teal: #56BDAC;
$pale-teal: #C4DED9;
$gold: #F8BF00;

// Spacing
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$xxl-size: 8rem;
$spacing: 2rem;

$border-radius: 1.5rem;

//Rough guess breakpoints based off design not based on device
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 950px;
$mobile-breakpoint: 480px;

//Variables from Scheduler that might be handy for Appointment Stretch
// $active-opacity: 1;
// $inactive-opacity: 0.15;

// $weeks-colors: 
// $booked-color: 
// $danger-color: 
// $error-color: 
// $confirm-color: 
