@import "../styles/variables.scss";

#logo {
  color: $orange;
}  


.call-view {
  display: flex;
}
.nav-icon {
  color: $unselected-gray;
  padding: $spacing;
}

.side-nav{
  display: flex;
  flex-direction: column;
  background-color: $white;
  min-width: 5rem;
  padding-left: 1rem;
  justify-content: space-between;
  height: 100%;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-icon:hover {
  color: $orange;
}

.other-video {
  border-style: solid;
  width: 60%;
  color: $yellow;
  border-radius: $border-radius;
  align-self: stretch;
  margin: $spacing 0;

  
}

.self-video-container {
  border-style: solid;
  width: 28%;
  height: 23%;
  color: $yellow;
  border-radius: $border-radius;
  margin-left: $spacing;
}

.self-video-log {
  display: flex;
  flex-direction: column;
  margin-top: $spacing;
}

.convo-log {
  border-style: solid;
  width: 407px;
  height: 661px;
  border-radius: $border-radius;
  color: $yellow;
  margin: $spacing;
}
#username {
  color: $orange;
}