@import "../styles/variables.scss";

.is-active .nav-icon {
  color: $vibrant-orange;
  background-color: $peach;
  border-radius: $border-radius;

}

.nav-link {
  text-align: center;
  text-decoration: none;
  
}